.homepage-container {
  background-color: #fff;
  margin: 20px auto;
  border-radius: 8px;
  overflow: hidden;
  padding: 20px;
  .customize-row {
    display: flex;
    flex-wrap: wrap;
    gap: 20px 10px; //gap 10px, có 5 items trên 1 row => 4*10 = 40px cần được bớt ở width. 40/5items = 8px => calc trừ đi 8px

    .column {
      background-color: #fff;
      width: calc(20% - 8px);
      border-radius: 8px;
      box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
      &:hover {
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        -webkit-transform: translateY(-0.0625rem);
        transform: translateY(-0.0625rem);
      }

      .wrapper {
        cursor: pointer;
        box-shadow: 0 0.0625rem 0.125rem 0 rgba(0, 0, 0, 0.1);
        border-radius: 0.125rem;
        padding: 20px;
        border-radius: 8px;

        .text {
          padding: 0.5rem 0;
          font-size: 0.75rem;
        }
        .text-ellipsis {
          display: -webkit-box;
          -webkit-line-clamp: 2; /* Giới hạn tối đa 2 dòng */
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-overflow: ellipsis;
          line-height: 1.5; /* Điều chỉnh để phù hợp với font */
          min-height: calc(1.5em * 2); /* Chiều cao tối thiểu của 2 dòng */
        }
        .rating {
          display: flex;
          align-items: center;
          gap: 10px;
        }
      }
    }

    .thumbnail {
      height: 200px;
      max-width: 200px;
      margin: 0 auto;

      img {
        max-width: 100%;
        max-height: 100%;
        background-color: white;
        object-fit: contain;
      }
    }

    @media screen and (max-width: 600px) {
      .column {
        flex: unset;
        width: calc(50% - 8px);
        flex-wrap: wrap;
      }
    }

    @media screen and (max-width: 800px) and (min-width: 601px) {
      .column {
        flex: unset;
        width: calc(25% - 8px);
        flex-wrap: wrap;
      }
    }
  }
}
